*, html {
    margin: 0;
    padding: 0;
}
#wrapper {
    width: auto;
    height: 1000px;
}
#header {
    background-color: #222222;
    width: auto;
    height: 45px;
}
#text-header {
    width: 1170px;
    margin: auto;
    padding: 0;
    color: gray;
    font-size: 24px;
}
li {
    list-style: none;
    float: left;
    margin: 8px 10px;
}
input {
    width: 200px;
    height: 25px;
    margin: 8px 0 0 500px;
}
#t-main {
    background-color: white;
    height: auto;
    padding: 40px 0;
}
#t-main-content {
    width: 1170px;
    color: gray;
    font-size: 14px;
    margin: auto;
}
#t-content-l, #t-content-c, #t-content-r {
    margin: auto;
    padding: 0 20px;
    float: left;
    text-align: center;
    font-size: 24pt;
    color: #3082BE;
}
#t-text-l, #t-text-c, #t-text-r {
    width: 390px;
    float: left;
    text-align: center;
    font-size: 13pt;
    color: gray ;
}

#b-main {
    background-color: #9ACD32;
    height: 450px;
    margin: 300px 0 0 0;
    padding: 0;
}
#b-main-content {
    width: 1170px;
    color: black;
    font-size: 14px;
    margin: auto;
}
#b-content-l, #b-content-c, #b-content-r {
    padding: 60px 130px 0 130px;
    float: left;
    text-align: center;
    font-size: 24pt;
}
#b-text-l, #b-text-c, #b-text-r {
    width: 350px;
    float: left;
    text-align: center;
    font-size: 13pt;
    padding: 0 20px;
}
#anchor {
    background-color: white;
    width: 1170px;
    height: 85px;
    margin: auto;
    font-size: 30px;
    color: aqua;
}
#l-anchor, #c-anchor, #r-anchor {
    padding: 40px 0 0 10px;
    float: left;
}
#l-anchor {
    margin: 0 0 0 325px;
}
#footer p {
    color: gray;
    font-size: 20px;
    text-align: center;
}

 a {
    text-decoration: none;
}
.img-radius {
    border-radius: 50% ;
}
