*, html {
    margin: 0;
    padding: 0;
    color: white;
    background-color: darkgreen;
}
#root {
    width: 1170px;
    background-color: darkgreen;
    height: 525px;
    margin: auto;
    text-align: center;
    border-style:dashed ;
}

#paraphrase, img {
    padding: 15px 0;
    border-radius: 30%;
} 

button {
    width: auto;
    background-color: gray;
    margin: auto;
    padding: 15px 15px 15px 15px;
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
    border-radius: 100%;
    color: aliceblue;
    
}

.list {
    padding: 30px 0;
    font-style: italic;
}
 li {
    list-style: none;
 }
