*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MyriadCond !important;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black
}
#container {
    width: 1153px;
    margin: auto;
}
#header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-top:3px #084169 solid;
    border-bottom: 1px gray solid;
    border-left: 1px gray solid;
    border-right: 1px gray solid;
}
.logo-header {
    display: 1;
}
.menu-header {
    display: flex;
} 
.menu-header > li {
    padding: 0 12px;
}
.menu-header > li > a {
    font-size: 18px;
    font-weight:bolder;
    color: #1969A1;
}
#main {
    border-top: 1px gray solid;
    border-right: 1px gray solid;
    border-bottom: 1px gray solid;
    border-left: 1px gray solid;
    width: 1153px;
    height: auto;
    margin: 15px 0;
}
.title-introduce {
    background-color: #084169;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 1138px;
    height: 26.5px;
    margin: 30px 6.5px 40px 6.5px;
    padding: 4px 0 0 10px;
    border-radius: 4px;
}
.title-content {
    font-size: 24px;
    padding: 0 0 40px 35px;
}
.content-introduce {
    padding: 0 0 40px 35px;
    font-size: 16px;
    color: #000000;
}
.img-introduce {
    margin: 0 285px;
    
}
.cmt-img-intro {
    text-align: center;
    font-size: 12px;
    color: #333333;
    padding: 0 0 40px 0;
}
#footer {
    width: 1153px;
    text-align: center;
    color: #f8f8f8;
    font-size: 12px;
    margin: 15pxpx 0 0 0;


}
.top-footer {
    background-color: #1969A1;
    height: 50px;
    font-family: monospace;
    margin: 15px 0 0 0;
    padding: 20px 0 0px 0; 
}
.bottom-footer {
    background-color: #084169;
    height: 25px;
    padding: 6.5px 0 0 0;
}