*, html {
    margin: 0;
    padding: 0;
}
#container {

}
#header {
    width: 1153px;
    height: 100px;
    background-color: red;
    margin: auto;
    text-align: center;
}
.logo-header {
    float: left;
    margin: 10px 0;
}
.list-header {
    border: 3px 0 1px 0;
    padding: 40px 20px;
    list-style: none;
    float: right;
}
#main {
    width: 1153px;
    background-color: goldenrod;
    margin: auto;
}
#content {
    background-color: aqua;
    width: 845.500px;
}
.content-title {
    background-color: burlywood;
    width: 831.5px;
    height: 16.5px;
    margin: 20px 0 4px 0;
    padding: 5px 4px 5px 10px;
}
#content-product, img, p {
    margin: 0;
    padding: 6px;
    float: left;
}

