#header{
    background-color:darkslategrey;
    color: white;
    width: 0 auto;   
    height: 150px;
    margin:0 auto;
    height: 0 auto;
    font-size: 50px;
}
#left{
    background-color:cornflowerblue;
    font-size:33px;
    width: 300px;
    height: 400px;
    float: left;
}
#right{
    background-color:deepskyblue;
    font-size:33px;
    width: 300px;
    height: 400px;
    float: right;
}
.vdeo{
    width: 300px;
    height: 13px;
    float: right;
}
#center{
    background-color:bisque;
    font-size: 33px;
    height: 400px;
}
    #footer{
    color: white;
    width: 0 auto;   
    height: 150px;
    margin:0 auto;
    font-size: 50px;
    background-color:darkcyan;
}